@charset"utf-8";
body{
    font-family: cursive
}

.header{
    background-color:#4175e6;
    height:90px;
    color:aliceblue;

  }
.header-logo{
    float:left;
    font-size:36px;
    padding:20px 40px;

    

}
  
  /* mainの背景色を#bdf7f1、高さを600pxにしてください */
  .main{
    background-color:#feffb7;
    height:600px;
  }
  
  /* footerの背景色を#ceccf3、高さを270pxにしてください */
  .footer{
    background-color:#83a8f8;
    height:270px;
  }

  .header-list li{
      list-style: none;
      float:left;

      padding: 33px 20px;


  }
  /* footer-logoのfont-sizeとfloatを指定してください */
.footer-logo{
    float:left;
    font-size:32px
    
  }
  
  /* footer-listのfloatを指定してください */
  .footer-list{
    float:right;
  }
  
  /* footer-listの中のli要素のpadding-bottomを指定してください */
  .footer-list li{
    padding-bottom:20px;
  }
  